.reveal section img.elm-logo-end {
    max-width: 200px;
    border: 0;
    box-shadow: none;
}

.reveal section img.tea {
    max-width: 700px;
    border: 0;
    box-shadow: none;
}

ul.list-no-point {
    list-style-type: none;
}

span.aside {
    font-size: 0.7em;
    font-style: italic;
}

.reveal section:last-child.present a:first-child {
    padding-right: 1em;
}